body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #e1dfb9; /* Цвет фона */
}

#container {
    width: 80%; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
}

#header {
    width: auto;
    height: 80px;
padding: 5px; /* Отступы вокруг текста */
background: #8fa09b; /* Цвет фона шапки */
color: #ffe; /* Цвет текста */

}


.header {

    width: 90%;
    height: 55px;
    float: left;
    text-align: center;
}


.auth {
    width: 10%;
    height: 55px;
    text-align: left;
}

.auth.login {

    float: left;
    font: 10pt Arial, Helvetica, sans-serif;
}

#sidebar {
    margin-top: 10px;
    width: 10%; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
}

#content {
    margin-left: 11%; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона правой колонки */
}

#list {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
}

#footer {
    background: #8fa09b; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
}