<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <tx:annotation-driven/>
    <context:property-placeholder location="classpath:postgreConnect.properties"/>

    <bean id="dao1" class="org.base.dao.daoImplementation.UserDaoImpl"/>
    <bean id="userService" class="org.base.service.UserService"/>

    <bean id="connectFactory" class="org.base.dao.daoImplementation.ConnectFactory" init-method="init">
        <constructor-arg name="driver" value="${driver}"/>
        <constructor-arg name="url" value="${url}"/>
        <constructor-arg name="user" value="${user}"/>
        <constructor-arg name="password" value="${password}"/>
    </bean>

    <bean id="dao" class="org.base.dao.daoImplementation.ManagerDao">
        <constructor-arg name="factory" ref="connectFactory"/>
    </bean>

    <bean id="service" class="org.base.service.ServiceImplementation.ManagerService">
        <constructor-arg name="dao" ref="dao"/>
    </bean>

    <bean id="model" class="org.base.model.User"/>

    <bean id="dbProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:postgreConnect.properties"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="org.base.model"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hbm2ddl.auto">update</prop>
                <prop key="dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="current_session_context_class">thread</prop>
            </props>
        </property>
    </bean>
    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>

</beans>